---
layout: home
description: "Funk / Soul / Jazz / Reggae / Rap / Beats / Afro / Folk / Latin / Dusty Grooves"
headline: We play vinyl records.
tags: [soulhealing, radio, mixtapes, mixes, tunes, podcast, funk, soul, jazz, rap, beats, dusty grooves, manumaticx, jesus fipsuz, dj, records, vinyl]
---
<article class="summer-index-post post row">
<div class="12 columns">
    <header class="summer-post-header">
        <h3 class="summer-post-title">
            <a href="https://www.facebook.com/events/1657901357774553/">
                <img src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/13289_1139295629417971_8759564025299606491_n.jpg?oh=03476242dc5f6ec383a1d463c9d17585&oe=55E6CEBE">
            </a>
        </h3>
    </header>
</div>
</article>

{% if site.paginate %}
	{% for post in paginator.posts %}
    <article class="summer-index-post post row">
        <div class="12 columns datetime">
            <span class="summer-post-meta">
							<a href="{{ site.url }}{{ post.url }}">
                <span class="episode">
										{{ post.title }}
								</span>
							</a>
            </span>
        </div>
        <div class="12 columns">
            <header class="summer-post-header">
                <h3 class="summer-post-title">
                    <a href="{{ site.url }}{{ post.url }}">
                        <img src="{{ post.cover }}" alt="Episode {{ post.title }}">
                    </a>
                </h3>
            </header>
        </div>
    </article>
	{% endfor %}
    <nav class="pagination" role="navigation">
    {% if paginator.previous_page %}
	    {% if paginator.previous_page == 1 %}
	    <a class="newer-posts" href="{{ site.url }}"><i class="fa fa-chevron-left"></i> Newer</a>
	    {% else %}
	    <a class="newer-posts" href="{{ site.url }}/page{{ paginator.previous_page }}"><i class="fa fa-chevron-left"></i> Newer</a>
	    {% endif %}
	{% else %}
    <span class="newer-posts faded"><i class="fa fa-chevron-left"></i> Newer</span>
    {% endif %}


    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    	{% if paginator.next_page %}
        <a class="older-posts" href="{{ site.url }}/page{{ paginator.next_page }}/">Older <i class="fa fa-chevron-right"></i></a>
    	{% else %}
    	<span class="older-posts faded">Older <i class="fa fa-chevron-right"></i></span>
    	{% endif %}
	</nav>
{% else %}
	{% for post in site.posts %}
    <article class="summer-index-post post row">
        <div class="small-12 medium-3 large-2 columns datetime">
            <span class="summer-post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">
                    <span class="day">
                        {{ post.date | date: "%d" }}
                    </span>
                    <span class="month-year">
                        {{ post.date | date: "%B %Y" }}
                    </span>
                </time>
            </span>
        </div>
        <div class="small-12 medium-9 large-10 columns">
            <header class="summer-post-header">
                <h3 class="summer-post-title">
                    <a href="{{ site.url }}{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
            </header>
        </div>
    </article>
	{% endfor %}
{% endif %}
